/*
https://codepen.io/devstreak/pen/dMYgeO
*/

.scrollbar-thin::-webkit-scrollbar-track,
.scrollbar-thin-light::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.033);
}

.scrollbar-thin::-webkit-scrollbar,
.scrollbar-thin-light::-webkit-scrollbar {
  width: 0.5rem;
  background: rgba(0, 0, 0, 0.033);
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #0f172a;
}
.scrollbar-thin-light::-webkit-scrollbar-thumb {
  border-radius: 0.22rem;
  background-color: #aaaaaa;
}
