# PRODUCTION=1
PRODUCTION=

DATABASE_URI_dev=
DATABASE_URI_production=
TABLE_NAME_SUFFIX=

IOCORS_ALLOW_ORIGIN_dev=
IOCORS_ALLOW_ORIGIN_production=
IOCORS_ALLOW_ORIGIN_nikolavrs=

JWT_TOKEN=
JWT_ACCESS_TOKEN=

IOEVENT_DOCS_CHANGE=
