import { stripSlashesEnd } from "../utils";

// export const PRODUCTION$ = true;
export const PRODUCTION$ = false;
// export const SSG$ = true;
export const SSG$ = false;

// # api
export const API_URL_dev = "";
// export const API_URL_production = "";
export const API_URL_production = "";
export const API_URL = stripSlashesEnd(
  PRODUCTION$ ? API_URL_production : API_URL_dev
);
export const URL_API_status = API_URL;
export const URL_DOCS = `${API_URL}/docs`;
export const URL_AUTH_register = `${API_URL}/auth/register`;
export const URL_AUTH_login = `${API_URL}/auth/login`;
export const URL_AUTH_logout = `${API_URL}/auth/logout`;
export const URL_API_who = `${API_URL}/auth/who`;


// # io
export const IO_SERVER = API_URL;

// # nuxt generate, base
export const BASE_DIR_dev = "/";
export const BASE_DIR_production = "/prod_base";
export const BASE_DIR = SSG$ ? BASE_DIR_production : BASE_DIR_dev;
