
// export const PRODUCTION$ = true;
export const PRODUCTION$ = false;

// # api
export const API_URL_dev = "";
export const API_URL_production = "";
export const API_URL = PRODUCTION$ ? API_URL_production : API_URL_dev;
export const URL_DOCS = `${API_URL}/docs`;

// # io
export const IO_SERVER = API_URL;

// # nuxt generate, base
export const BASE_DIR_dev = "";
export const BASE_DIR_production = "";
export const BASE_DIR = PRODUCTION$ ? BASE_DIR_production : BASE_DIR_dev;
